extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Tai Jun Jie

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hello, I'm currently 20 this year and I'm from Singapore(It's a very small country that is only 12 times larger than Manhattan)
            | I'm currently a tech degree student from treehouse and I'm going to study Computer Science in the year 2021.
            | I've been learning web development since 2019 and 
            | I find creating websites very fun and interesting and hope that I'm able to produce a website in the future
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li Javascript
          li Express
          li Node 
          li NPM
          li VS code
          li Regular Expressions
          li Object Oriented Programming

        h6 Contact Info

        //- Add your own contact info
        ul
          li +65 85330394
          li tjunjie2000@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/tai-jun-jie-3233801a5/') LinkedIn <i class="fab fa-linkedin"></i>
        a.button.expanded(href='https://github.com/TJun-Jie') GitHub <i class="fab fa-github"></i>
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  